.directory {
  width: 100%;
  .wrap {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    .item {
      margin: 15px;
      overflow: hidden;
      border-radius: 15px;

      img {
        object-fit: cover;
        -webkit-transition: all 0.5s ease;
        transition: all 0.5s ease;
      }
      img:hover {
        transform: scale(1.03);
      }
    }
  }
}
